<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoNess</title>
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        * { font-family: 'Segoe UI', -apple-system, system-ui, sans-serif; }
    </style>
</head>
<body>
    {% block content %}{% end %}
    <script src="/static/js/dashboard.js"></script>
</body>
</html>
